body {
  background-image: url("th-1682771418.jpeg");
}

#main {
  background-color: #FDFDF7;
  width: 75vw;
  max-width: 75%;
  padding: 0px 180px;
}

#logo {
  width: 50px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #2A0000;
  font-family: "Cabin Sketch", serif;
  font-weight: 400;
  font-style: normal;
}
header{
  display: flex;
  justify-content: space-around;
  background-color: #FFD133;
}
footer{
  background-color: #FFD133;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  position:absolute;
  width:100%;
  bottom:0px;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #FFD133;
}
#content{
  display: flex;
  justify-content: space-around;
  /* height: 80vh; */
}
#left {
  width: 35vw;
}
#right {
  width: 35vw;
}
button {
  font-size: 25px;
  border:none;
  color:#420000;
  background-color: #FFD133;
  /* padding: 15px 32px; */
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  font-family: "Cabin Sketch", serif;
  font-weight: 700;
  font-style: normal;
}

button:hover {
  width: 100%;
  font-size: 30px;
  transition: all 0.5s;
}

.dish {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(2, 50%);
}

.nameDish {
  font-family: "Cabin Sketch", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  width: fit-content;
}

.priceDish {
  font-family: "Cabin Sketch", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  width: fit-content;
}
.descriptionDish {
  /* padding-top: 5px;
  font-family: "Cabin Sketch", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  width: fit-content; */
}
.dishHeader{

}
#logo {
  font-family: "Cabin Sketch", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  width: fit-content;
}